.remark-slide-content {
  background-color: #ffffff;
/*  border-top: 80px solid #cd5c5c; /* change this */
  font-size: 28px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #ffffff;
}

.inverse {
/*  background-color: #cd5c5c; /* change this */
  text-shadow: none;
}

.clear{
  border-top: 0px solid #ffffff;
}

h1 {
  font-weight: normal;
  margin-top: -105px;
  margin-left: -00px;
  color: #ffffff;
}

h2, h3, h4 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #8b8989;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 00px;
  margin-bottom: -10px;
}

.remark-slide-content h1 {
  font-size: 48px;
}

.remark-slide-content h2 {
  font-size: 36px;
}

.remark-slide-content h3 {
  font-size: 32px;
}

.title-slide {
  background-color: #ffffff;
  border-top: 80px solid #ffffff;
}

.title-slide h1  {
/*  color: #cd5c5c; /* change this */
  font-size: 40px;
  text-shadow: none;
  font-weight: 400;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide h2  {
  margin-top: -25px;
  padding-bottom: -20px;
/*  color: #cd5c5c; /* change this */
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}

.title-slide h3  {
  color: #8b8989;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

.remark-slide-number {
  font-size: 13pt;
  color: #8b8989;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  color: #ffffff;
  opacity: 1;
}
